{% macro displayPitchCategory(pitches_list) %}

    {% for pitch in pitches_list %}
      <div class="panel style="style="box-shadow: 5px 5px 5px 5px #f2f2f2; padding:10px; text-align:center;">
          <p>{{pitch.pitch}}</p>
          <br>
          <button style=" font-size:18px;" ><a href="{{url_for('main.new_comment',id=pitch.id)}}">Add comment </a>&nbsp;&nbsp;|</button>
         
     
      </div> 
    {% endfor %}
    {% endmacro %}
    
    {% macro displayComments(Comments_list) %}

    {% for pitch in Comments_list %}
      <div class="panel style="style="box-shadow: 5px 5px 5px 5px #f2f2f2; padding:10px; text-align:center;">
          <p>{{pitch.comment}}</p>
          <br>
          <button style=" font-size:18px;" ><a href="{{url_for('main.new_comment',id=pitch.id)}}">Add a Comment</a>&nbsp;&nbsp;|</button>
         
        <button style=" font-size:18px;" > <a href="{{url_for('main.new_comment',id=pitch.id)}}">Vote</a></button>
      </div> 
    {% endfor %}

{% endmacro %}